 html{
	height: 100%;
	width: 100%;
	margin: 0;
}
body{
	margin: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	line-height: normal;
	background: #ffffff;
	position: relative;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
}

.left{
	float: left;
	font-family: 'Istok Web', sans-serif;
}
.right{
	float: right;
}
.clear{
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 20px 0;
}
h2{
	font-size: 40px;
	line-height: 46px;
	font-weight: 600;
	color: #e1524b;
	text-transform: uppercase;
}
h2 span {

}
p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #7f8c8c;
}
img{
	display: block;
	max-width: 100%;
}

/*== buttons
---------------------------------*/
button{
	margin:0;
	padding:0;
	border:none;
	background:none;
	cursor:pointer;
	overflow:visible;
	width:auto;
	outline: none;
}
button:hover , button:focus , button:active{
	outline: none;
}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button{
	display: block;
	position: relative;
	width: 355px;
	height: 48px;
	background: transparent;	
	color: #fefefe;
	font-size: 24px;
	line-height: 26px;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:before{
    position: absolute;
    top: -11px;
    left: -13px;
    content: "";
    width: 368px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 366px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}
.button:hover{
	background: #384245;
	transition: 0.3s;
}
button:active,
button:focus{
	outline: none;
}

/*== inputs
---------------------------------*/
input{
	outline: none;
	border: none;
}
.b-input-text{
	width: 100%;
	height: 45px;
	background: transparent;
	padding: 0 15px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	border-bottom: 2px solid #ffffff;	
}
.b-input-text.error{
	border-color: red;
}
.b-input-text::-webkit-input-placeholder{
	color: #ffffff;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;	
}
.b-input-text:-moz-placeholder{
	color: #ffffff;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;	
}
.b-input-btn{
	width: 230px;
	height: 60px;
	background-color: #f9f9f9;
	background-image: -webkit-linear-gradient(bottom, #e0e0e0 0%, white 100%);
	background-image: -o-linear-gradient(bottom, #e0e0e0 0%, white 100%);
	background-image: linear-gradient(to top, #e0e0e0 0%, white 100%);
	border-radius: 15px;
	box-shadow: 0 10px 15px rgba(51, 51, 51, 0.15);
	cursor: pointer;
	color: #333;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;	
	display: block;
	margin: 35px auto 0;
}
.b-input-btn:hover{

}
label.error{
	position: absolute;
	margin: -16px 0 0 0;
	color: #ffffff;
}
select{
	outline: none;
}
.b-select{
	width: 100%;
	height: 54px;
	border: 1px solid #d6dfcc;    
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;    
	background: #ffffff url(../images/select-arrow.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;        
}
.b-input-text{
	outline: none;  
}
textarea{
	height:80px;
}
.fancybox-enabled{
	padding: 0 17px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-container{

}
.fancybox-container{
	z-index: 999999;
}
/* End Total css ====*/

/* -------------- page index -------------- */
.b-header{
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;	
}
.b-logo{
	display: block;
	width: 172px;
}

.b-header-right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.b-nav{

}
.b-nav > ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-nav ul{
	padding: 0;
	margin: 0;
}
.b-nav ul li{
	list-style: none;
	position: relative;
}
.b-nav > ul > li.b-drop > a:after{
	content: "";
	display: block;
	background: url(../images/arrow.svg) no-repeat;
	width: 11px;
	height: 6px;
	margin: 0 0 0 8px;
}
.b-nav > ul > li{
	list-style: none;
	position: relative;
	margin: 0 60px 0 0;
}
.b-nav ul li:last-child{
	margin:0;
}
.b-nav ul li a{
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #262626;
	display: flex;
	justify-content: flex-start;
	align-items: center;	
	transition: 0.3s;
	text-decoration: none;
}
.b-nav ul li a:hover{
	color: #0099FF;
}
.b-nav > ul > li > a{
	padding: 30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-dropdown{
	position: absolute;
	top: 101%;
	left: 0;
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
	border-radius: 0px 0px 4px 4px;	
	width: 180px;
	padding: 16px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}
.b-dropdown ul{

}
.b-dropdown ul li{
	margin: 0 0 15px 0;
}
.b-dropdown ul li:last-child{
	margin: 0;
}
.b-nav > ul > li.b-drop:hover .b-dropdown{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
	z-index: 100;
}

.b-cart{
	margin: 0 0 0 60px;
}
.b-cart-ico{
	position: relative;
	background: url(../images/cart-icon.svg) no-repeat;
	width: 24px;
	height: 32px;
	display: block;
}
.b-cart-ico:hover{
	background: url(../images/cart-icon2.svg) no-repeat;
}
.b-cart-ico__n{
	position: absolute;
	top: -10px;
	left: -10px;
	width: 20px;
	height: 20px;
	background: #0099FF;
	border-radius: 100%;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;		
}
.b-mobile{
	display: none;
}
/* --------------  b-main -------------- */
.b-main{
	background: #008CFF;
}
.b-main > .container > .row > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-main-left{

}
.b-main-title{
	max-width: 530px;
	font-weight: 600;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0 0 30px 0;
}
.b-main-left p{
	max-width: 460px;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
	font-family: 'Istok Web', sans-serif;
	margin: 0 0 40px 0;
}
.btn-acc{
	width: 240px;
	height: 54px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(0, 71, 141, 0.25);
	border-radius: 27px;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.05em;
	color: #262626;
}
.btn-white{
	transition: 0.3s;
}
.btn-white:hover{
	color: #0099FF;
	box-shadow: 0px 10px 20px rgba(0, 71, 141, 0.5);
	transition: 0.3s;
}
.btn-white:active{
	color: #0099FF;
	box-shadow: 0px 5px 10px rgba(0, 71, 141, 0.5);
	transition: 0.3s;
}
.b-main-right{
	width: 528px;
	flex-shrink: 0;
}
/* --------------  b-info -------------- */
.b-info{
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-title{
	margin: 0 0 80px 0;
}
.b-title-item{
	font-weight: 600;
	font-size: 24px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #262626;
	margin: 0;
}
.b-info-content{

}
.b-info-item{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
	border-radius: 8px;	
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-info-item__img{
	width: 60px;
	flex-shrink: 0;
	margin: 0 20px 0 0;
}
.b-info-item__text{

}
.b-info-item__text p{
	font-family: 'Istok Web', sans-serif;	
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #262626;
	margin: 0;
}
.b-info-bottom{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0 0 0;
}
.btn-blue{
	width: 240px;
	height: 54px;
	background: #0099FF;
	box-shadow: 0px 5px 20px rgba(0, 122, 204, 0.3);
	border-radius: 27px;	
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;	
	transition: 0.3s;
}
.btn-blue:hover{
	transition: 0.3s;
	background: #1FA5FF;
	box-shadow: 0px 5px 20px rgba(0, 122, 204, 0.5);	
}
.btn-blue:active{
	background: #1FA5FF;
	box-shadow: 0px 5px 10px rgba(0, 122, 204, 0.5);	
	transition: 0.3s;
}
/* --------------  b-services -------------- */
.b-services{
	background: #F7F9FC;
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-services-content{

}
.b-services-item{

}
.b-services-item__img{
	width: 60px;
	margin: 0 auto 20px;
}
.b-services-item__text b{
	display: block;
	text-align: center;
	font-family: 'Istok Web', sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #262626;
	margin: 0 0 15px 0;
}
.b-services-item__text p{
	font-family: 'Istok Web', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #262626;
	margin: 0;
}
/* --------------  b-reviews -------------- */
.b-reviews{
	padding: 80px 0;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
}
.b-reviews-content{

}
.b-reviews-item{
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-reviews-item:before{
	position: absolute;
	top: 10px;
	left: 10px;
	content: "";
	background: url(../images/Quotes.svg) no-repeat;
	width: 50px;
	height: 40px;
	z-index: 1;
}
.b-reviews-item p{
	font-family: 'Istok Web', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #262626;	
	margin: 0 0 15px 0;
	position: relative;
	z-index: 2;
}
.b-reviews-user{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-reviews-user__ico{
	background: url(../images/b-reviews-user__ico.svg) no-repeat;
	width: 26px;
	height: 26px;
	margin: 0 10px 0 0;
}
.b-reviews-user span{
	font-family: 'Istok Web', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #262626;
}
/* --------------  b-footer -------------- */
.b-footer{
	background: #26364D;
	padding: 60px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.b-footer-left{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-shrink: 0;
}
.b-footer-logo{
	width: 130px;
	margin: 0 20px 0 0;
}
.b-footer-left span{
	font-family: 'Istok Web', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;	
}
.b-footer-social{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.b-footer-social ul{
	padding: 0;
	margin: 0 145px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.b-footer-social ul li{
	list-style: none;
	margin: 0 20px 0 0;
}
.b-footer-social ul li:last-child{
	margin: 0;
}
.b-footer-social ul li a{
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #ffffff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	transition: 0.3s;
	text-decoration: none;
}
.b-footer-social ul li a:hover{
	color: #26364D;
	background: #ffffff;
	transition: 0.3s;
	text-decoration: none;
}
.b-footer-list{

}
.b-footer-list ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.b-footer-list ul li{
	list-style: none;
	margin: 0 20px 0 0;
}
.b-footer-list ul li:last-child{
	margin: 0;
}
.b-footer-list ul li a{
	display: block;
	width: 48px;
}
/* -------------- page faq -------------- */
.b-content{
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-faq{

}
.b-faq-item{
	margin: 0 0 40px 0;
}
.b-faq-item:last-child{
	margin: 0;
}
.b-faq-item b{
	display: block;
	font-family: 'Istok Web', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #262626;	
	margin: 0 0 20px 0;
}
.b-faq-item p{
	font-family: 'Istok Web', sans-serif;	
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: #262626;
}
.b-faq-item p:last-child{
	margin: 0;
}
/* -------------- page b-reviews-page -------------- */
.b-reviews-page{
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #F7F9FC;
}
.b-reviews-page .b-reviews-item{
	margin: 0 0 30px 0;
}
.b-reviews-page__wrap{
	padding: 0px 205px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-reviews-page .b-reviews-item p{
	margin: 15px 0 0 0;
}
.b-reviews-date{
	font-family: 'Istok Web', sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 17px;
	color: #262626;
	margin: 15px 0 0 0;
}
.b-reviews-page .b-reviews-item:before{
	display: none;
}

.b-form{
	width: 760px;
	margin: 0 auto 0;
}
.b-form-row{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-form-item{
	width: 100%;
	margin: 0 40px 20px 0;
}
.b-form-item span{
	display: block;
	font-family: 'Istok Web', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #262626;	
	margin: 0 0 10px 0;
}
.b-form-input{
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #909399;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-form-item:last-child{
	margin-right: 0;
}
.b-textarea{
	width: 100%;
	height: 90px;
	background: #FFFFFF;
	border: 1px solid #909399;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-form-btn{
	margin: 40px auto 0;
}

/* -------------- page b-contacts -------------- */
.b-contacts-form{
	background: #F7F9FC;
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-title span{
	display: block;
	margin: 20px 0 0 0;
	font-family: 'Istok Web', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #262626;
}
.b-contacts-form .b-form-input , .b-contacts-form .b-textarea{
	background: none;
}
.b-contacts-content{

}
.b-contacts-item{
	margin: 0 0 40px 0;
}
.b-contacts-item:last-child{
	margin: 0;
}
.b-contacts-item__img{
	width: 60px;
	margin: 0 auto 20px;
}
.b-contacts-item b{
	display: block;
	font-weight: 700;
	font-family: 'Istok Web', sans-serif;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #262626;	
}
.b-contacts-item span{
	display: block;
	font-family: 'Istok Web', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
	color: #262626;	
}
/* -------------- page ebay acc page -------------- */
.b-plan{
	background: #F7F9FC;
	padding: 80px 0 60px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-title-two{
	margin: 0;
}
.b-plan-wrap{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-plan-left{
	font-family: 'Istok Web', sans-serif;
	width: 190px;
	padding: 118px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-plan-left b{
	display: block;
	font-weight: 700;
	font-size: 24px;
	line-height: 27px;
	color: #262626;	
	padding: 0 0 10px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-plan-left ul{
	padding: 0;
	margin: 0;
}
.b-plan-left ul li{
	list-style: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #262626;	
	padding: 10.5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #EBEEF2;
}
.b-plan-left ul li:last-child{
	border-bottom: 1px solid #EBEEF2;	
}
.b-plan-content{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-grow: 1;
	min-height: 600px;
}
.b-plan-block{
	border-radius: 8px;
	font-family: 'Istok Web', sans-serif;
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
	overflow: hidden;
	margin: 0 1px 0 0;
	width: 20%;
	transition: 0.3s;
	transform: scale(1);
}
.b-plan-block:last-child{
	margin: 0;
}
.b-plan-block__top{
	background: #0099FF;
	text-align: center;
	padding: 20px 0px 20px 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-plan-block__top span{
	display: block;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 0 20px 0;
}
.b-plan-block__img img{
	margin: 0 auto 0;
}
.b-plan-block__price{
	padding: 20px 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
.b-plan-block__price b{
	font-weight: 700;
	font-size: 30px;
	line-height: 32px;
	text-align: center;
	color: #0099FF;
}
.b-plan-block__item{
	text-align: center;
	padding: 11px 0;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-plan-block__item:nth-child(odd){
	background: rgba(0, 153, 255, 0.15);
}
.b-plan-block__item span{
	display: block;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #262626;
}
.b-plan-block__item span:first-child{
	display: none;
}
.b-plan-block__item img{
	margin: 0 auto 0;
}
.b-plan-block__bottom{
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border-top: 1px solid rgba(0, 153, 255, 0.1);
    height: 0;
	visibility: visible;
	opacity: 1;
	transition: 0.3s;	
	overflow: hidden;
}
.btn-add{
	width: 194px;
	height: 54px;
	margin: 0 auto 0;
	width: 180px;
}
.b-plan-block:hover{
	transition: 0.3s;
	transform: scale(1.1);
	z-index: 10;
}
.b-plan-block:hover .b-plan-block__bottom{
	display: block;
}
.b-plan-block:hover .b-plan-block__bottom{
	padding: 20px 0;
	height: auto;
	visibility: visible;
	opacity: 1;
	transition: 0.3s;	
}

/* -------------- page other services -------------- */
.services{
	background: #F7F9FC;
	padding: 80px 0 60px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.services-content{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 460px;
}
.services-item{
	width: 25%;
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	overflow: hidden;
	margin: 0 2px 0 0;
	transition: 0.3s;
	transform: scale(1);
}
.services-item:last-child{
	margin: 0;
}
.services-item__top{
	background: #1FA5FF;
	font-family: 'Istok Web', sans-serif;
	text-align: center;
	padding: 20px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.services-item__top span{
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	display: block;
	margin: 0 0 20px 0;
}
.services-item__img{
	width: 46px;
	margin: 0 auto 0;
}
.services-item__img img{
	margin: 0 auto 0;
}
.services-item__block{
	font-family: 'Istok Web', sans-serif;
	text-align: center;
	padding: 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 153, 255, 0.1);
}
.services-item__block p{
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #262626;
	margin: 0;
}
.servisec-item__btn{
	margin: 0 auto 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}
.services-item:hover{
	transition: 0.3s;
	transform: scale(1.1);
	z-index: 10;
}
.services-item:hover .servisec-item__btn{
	margin: 20px auto 20px;
	height: 54px;
	visibility: visible;
	opacity: 1;
	transition: 0.3s;	
}


/* -------------- page documents -------------- */
.b-documents{
	padding: 80px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #F7F9FC;
}
.b-documents-wrap{
	width: 760px;
	margin: 0 auto 0;
}
.b-documents-top{
	overflow: hidden;
	margin: 0 0 40px 0;
	border-radius: 8px;
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}
.b-documents-title{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0099FF;
	font-family: 'Istok Web', sans-serif;
	padding: 18px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-documents-title__ico{
	margin: 0 10px 0 0;
}
.b-documents-title span{
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: #FFFFFF;
}
.b-documents-top__wrap{
	padding: 20px 75px 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-documents-top__block{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Istok Web', sans-serif;
}
.b-documents-top__block__ico{
	margin: 0 10px 0 0;
}
.b-documents-top__block span{
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #262626;
}
.b-documents-top__block__two span{
	color: #0099FF;
}
.b-documents-block{
	overflow: hidden;
	border-radius: 8px;
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);	
}
.b-documents-content{
	padding: 30px 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.b-checkbox-wrap{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
    border-bottom: 1px solid rgba(0, 153, 255, 0.1);
    padding: 0 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-checkbox{
    display: block;
    margin: 0 0 22px 0;
}
.b-checkbox:last-child{
	margin: 0;
}
.b-checkbox input[type="checkbox"]{
    display: none;
}
.b-checkbox input[type="checkbox"] + label span{
	display: block;
	width: 18px;
	height: 18px;
	border: 2px solid #262626;
	box-sizing: border-box;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: transparent;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0 10px 0 0;
}
.b-checkbox input[type="checkbox"] + label{
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.b-checkbox input[type="checkbox"]:checked + label span{
	display: block;
	width: 18px;
	height: 18px;
	border: 2px solid #262626;
	border-radius: 4px;
	background: url(../images/check2.svg) center no-repeat transparent;
}
.b-checkbox input[type="checkbox"]:checked + label{
    color: #000000;
}
.b-checkbox input[type="checkbox"] + label i{
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #262626;    
	font-style: normal;
	padding: 3px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Istok Web', sans-serif;
}
.b-documents-content__title{
	text-align: center;
	font-family: 'Istok Web', sans-serif;
	padding: 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 153, 255, 0.1);
}
.b-documents-content__title span{
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #262626;
}
.b-documents-content__reason{
	padding: 30px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 153, 255, 0.1);
}
.b-documents-content__reason .b-textarea{
	border: 1px solid #909399;
}
.b-documents-content__reason .b-form-item{
	margin: 0;
	padding: 0;
}


.b-documents-photo{
	padding: 30px 20px 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-documents-photo__wrap{
	display: none;
}
.b-documents-photo__wrap.active{
	display: block;
}
.b-documents-photo p{
	font-family: 'Istok Web', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #262626;
}
.b-input-photo{
	width: 200px;
	height: 48px;
	background: url(../images/photo-ico.svg) no-repeat;
	background-position: left 22px center;
	border: 2px solid #0099FF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 24px;
	padding: 0 0 0 42px;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #0099FF;	
	transition: 0.3s;
}
.b-input-photo:hover{
	background: #0099FF url(../images/photo-ico2.svg) no-repeat;
	box-shadow: 0px 5px 20px rgba(0, 122, 204, 0.5);
	background-position: left 22px center;	
	transition: 0.3s;
	color: #ffffff;
}
.b-input-photo:active{
	background: #0099FF url(../images/photo-ico2.svg) no-repeat;
	box-shadow: 0px 5px 10px rgba(0, 122, 204, 0.5);
	background-position: left 22px center;	
	transition: 0.3s;
	color: #ffffff;
}
.b-input-photo input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}


.b-documents-btns{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 60px 0 0 0;
}
.btn-next{

}